<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Message</title>
</head>
<body>
    <div>
        Logged in as user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
    </div>
    <div th:if="${param.keySet().contains('success')}">
        <p class="success">The message was successfully sent !</p>
    </div>

    <h1>Send a message to <b th:text="${channelName}"></b></h1>
    <div>
        <form th:object="${message}" method="post">

            <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
            <label for="content">Message :</label>
            <textarea id="content" th:field="*{content}" minlength="1" maxlength="2000" autofocus></textarea>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <input type="submit" value="Send">
        </form>
    </div>
    <div>
        <label for="mentions">Add a mention :</label>
        <select id="mentions" onchange="addMentionToMessage(this.value); this.selectedIndex = -1;">
            <option value="" hidden></option>
            <optgroup label="Roles">
                <option th:each="role : ${mentionableRoles}" th:text="${role.getName()}" th:value="${role.getId()}"></option>
            </optgroup>
            <optgroup label="Users">
                <option th:each="user : ${mentionableUsers}" th:text="${user.getName()}" th:value="${user.getId()}"></option>
            </optgroup>
        </select>
    </div>
    <script>
        function addMentionToMessage(mention) {
            if(mention !== undefined && mention !== "") {
                document.getElementById("content").value += mention;
            }
        }
    </script>
</body>
</html>