<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/button.css}" rel="stylesheet" type="text/css">
    <title>SaejinaApp | Send Ticket Button</title>
</head>
<body>
    <header>
        <a id="back" href="../">&#x25c0; Go back</a>
        <a href="/logout">Logout</a>
    </header>
    <div class="center">
        <div th:if="${param.keySet().contains('success')}">
            <p class="success">The ticket button was successfully sent !</p>
        </div>
        <h1>Send ticket creation button to #<b th:text="${channelName}"></b>:</h1>
        <form th:object="${buttonLabel}" method="post">
            <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
            <label for="content">Button label :</label>
            <input type="text" id="content" th:field="*{content}" minlength="1" maxlength="80" autofocus />

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <input type="submit" value="Send">
        </form>
    </div>
</body>
</html>