<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
</head>
<body>
    <div>
        Logged in as user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
    </div>
    <h1 th:text="${title}"></h1>
    <div>
        <div class="selectable" th:each="selectable : ${selectableList}">
            <a th:href="@{{id}/(id=${selectable.getId()})}" th:text="${selectable.getName()}"></a>
        </div>
    </div>
</body>
</html>