<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/selectables.css}" rel="stylesheet" type="text/css">
    <title th:text="'SaejinaApp | ' +  ${pageTitle}"></title>
</head>
<body>
    <header>
        <a id="back" href="../">&#x25c0; Go back</a>
        <a href="/logout">Logout</a>
    </header>
    <div class="center">
        <h1 th:text="${title}"></h1>
        <div class="selectables">
            <a class="selectable" th:href="@{{id}/(id=${selectable.getId()})}" th:each="selectable : ${selectableList}">
                <img th:src="${selectable.getIconUrl() != null ? selectable.getIconUrl() : '/images/defaultIcon.png'}" th:alt="${selectable.getName()}" alt="Server Picture">
                <p th:text="${selectable.getName()}"></p>
            </a>
        </div>
    </div>
</body>
</html>